# SF Salaries Exercise

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas as pd.**

In [ ]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal.**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')                        #all these are just to read-in Salaries.csv since
file_path = '/content/drive/My Drive/Salaries.csv'   # on providing file-path of Salaries.csv from my pc library there was some issue
sal = pd.read_csv(file_path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

<ipython-input-8-f8498ddc92ac>:4: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv(file_path)

**Check the head of the DataFrame.**

In [ ]:
print(sal.head())

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay OvertimePay   OtherPay Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.0  400184.25      NaN  567595.43         567595.43
1  155966.02   245131.88  137811.38      NaN  538909.28         538909.28
2  212739.13   106088.18    16452.6      NaN  335279.91         335279.91
3    77916.0    56120.71   198306.9      NaN  332343.61         332343.61
4   134401.6      9737.0  182234.59      NaN  326373.19         326373.19

   Year  Notes         Agency Status
0  2011    NaN  San Francisco    NaN
1  2011    NaN  San Francisco    NaN
2  2011    NaN  San Francisco    NaN
3  2011    NaN  San Francisco    NaN
4  2011    NaN  San Francisco    NaN

**Use the .info() method to find out how many entries there are.**

In [ ]:
print(sal.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB
None

**What is the average BasePay ?**

In [ ]:
print(sal['BasePay'].mean())

66325.4488404877

**What is the highest amount of OvertimePay in the dataset ?**

In [ ]:
print(sal['OvertimePay'].max())

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [ ]:
name=pd.Series(sal["EmployeeName"])
for i in range(0,len(name)):
  if name[i]=="JOSEPH DRISCOLL":
    print(sal.loc[i,"JobTitle"])

CAPTAIN, FIRE SUPPRESSION

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [ ]:
for i in range(0,len(name)):
  if name[i]=="JOSEPH DRISCOLL":
    print(sal.loc[i,"TotalPayBenefits"])

270324.91

**What is the name of highest paid person (including benefits)?**

In [ ]:
benefits=pd.Series(sal["TotalPayBenefits"])
for i in range(0,len(benefits)):
  if benefits[i]==benefits.max():
    print(sal.loc[i,"EmployeeName"])

NATHANIEL FORD

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
for i in range(0,len(benefits)):
  if benefits[i]==benefits.min():
    print(sal.loc[i,"EmployeeName"])
#he has a debt of 618.13

Joe Lopez

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [ ]:
BP=pd.Series(sal["BasePay"])
dict={2011:[0],2012:[0],2013:[0],2014:[0]}
sliced_list=[]
for i in range(2011,2015):
 for j in range(0,len(BP)):
   if sal.loc[j,"Year"]==i:
     dict[i].append(BP[j])
print("Year")
for i in range(2011,2015):
  print(i,sum(dict[i])/len(dict[i]))

Year
2011 63594.197779038994
2012 65434.62709821301
2013 nan
2014 nan

**How many unique job titles are there?**

In [ ]:
lst=list(set(sal["JobTitle"]))
JT=pd.Series(lst)
print(len(JT))

2159

**What are the top 5 most common jobs?**

In [ ]:
Jt=pd.Series(sal["JobTitle"],name="JobTitle")
freq=Jt.value_counts()
print(freq.head())

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [ ]:
sum=0
for i in range(0,len(name)):
  if sal.loc[i,"Year"]==2013 and freq[sal.loc[i,"JobTitle"]]==1 :   #dunno the error
    sum+=1
print(sum)

6

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [ ]:
sum=0                                          #didnt get the error :/
for job in Jt:
  for i in range(0,len(job)-4):
     if job[i]==('C' ) and job[i+1]==('h') and job[i+2]==('i') and job[i+3]==('e') and job[i+4]==('f'):
       sum+=1

In [ ]:
print(sum)

423

**Is there a correlation between length of the Job Title string and Salary?**

In [ ]:
#no idea what to do :/

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!